/* Common Styles */
* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* We use box-sizing border box to keep the margin and padding in order to behave as a box model */
}

.btn {
    padding: 18px 35px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}


/* Unique Styles */


/* navbar */

header {
    background-color: rgba(255, 248, 243, 1);
    background: url('../images/developer.png'), url('../images/header_bg.png'), rgba(255, 248, 243, 1);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    padding: 50px 0px;
}

.logo {
    font-size: 45px;
    font-weight: 800;
}

.logo span {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: var(--Dark 02, rgba(71, 71, 71, 1));
}


/* banner */
.banner {
    margin: 0px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 585px;
}

.banner-content h3 {
    font-size: 45px;
    font-weight: 600;
    color: rgba(71, 71, 71, 1);
}

.banner-content h2 {
    font-size: 85px;
    font-weight: 700;
}

.banner-content p {
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgba(117, 117, 117, 1);
    line-height: 30px;
    font-size: 18px;
}

.banner-image img {
    max-width: 584px;
    vertical-align: middle;
    /* The vertical-align CSS property sets vertical alignment of an inline, inline-block or table-cell box. */
}


/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}


/* About me section */
.about {
    padding: 156px 130px;
    text-align: center;
    background-color: rgba(255, 248, 243, 1);
    margin: 130px 0px;
    border-radius: 10px;
}

.section-info h3 {
    font-size: 35px;
    line-height: 48xp;
    font-weight: 700;
    font-style: bold;
    color: rgba(24, 24, 24, 1);
}

.section-info p {
    max-width: 827px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    padding: 30px 0px;
}

.details {
    display: flex;
    justify-content: space-around;
}

.details p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.details h4 {
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}