/* Common Styles */
* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* We use box-sizing border box to keep the margin and padding in order to behave as a box model */
}

.btn {
    padding: 18px 35px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}


/* Unique Styles */


/* navbar */

header {
    background-color: rgba(255, 248, 243, 1);
    background: url('../images/developer.png'), url('../images/header_bg.png'), rgba(255, 248, 243, 1);
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    /* we can also use px in bg-position */
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    padding: 50px 0px;
}

.logo {
    font-size: 45px;
    font-weight: 800;
}

.logo span {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: var(--Dark 02, rgba(71, 71, 71, 1));
}


/* banner */
.banner {
    margin: 0px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 585px;
}

.banner-content h3 {
    font-size: 45px;
    font-weight: 600;
    color: rgba(71, 71, 71, 1);
}

.banner-content h2 {
    font-size: 85px;
    font-weight: 700;
}

.banner-content p {
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgba(117, 117, 117, 1);
    line-height: 30px;
    font-size: 18px;
}

.banner-image img {
    max-width: 584px;
    vertical-align: middle;
    /* The vertical-align CSS property sets vertical alignment of an inline, inline-block or table-cell box. */
}


/* main section */
main,
.footer-container {
    max-width: 1140px;
    margin: 0 auto;
}


/* About me section */
.about {
    padding: 156px 130px;
    text-align: center;
    background-color: rgba(255, 248, 243, 1);
    margin: 130px 0px;
    border-radius: 10px;
}

/* section-title */
.section-title {
    font-size: 35px;
    line-height: 48xp;
    font-weight: 700;
    font-style: bold;
    color: rgba(24, 24, 24, 1);
}

.section-info p {
    max-width: 827px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    padding: 30px 0px;
}

.details {
    display: flex;
    justify-content: space-around;
}

.details p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.details h4 {
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}


/* What I do Section */
.What-do {
    padding: 0px 0px 130px 0px;
}

.What-do>.section-info {
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
}

.What-do .section-info p {
    max-width: 909px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* card section */
.card-container {
    display: flex;
    gap: 24px;
}

.card {
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 5px;
}

.card h4 {
    padding: 30px 0px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    font-style: bold;
}

/* common-para */

.common-para {
    font-size: 16px;
    line-height: 28px;
    color: rgba(117, 117, 117, 1);
}


/* Resume Section */
.resume {
    padding-bottom: 130px;
}

.resume h2 {
    text-align: center;
}

.resume-container {
    padding: 113px 0px 50px 0px;
    display: flex;
    gap: 24px;
}

.resume-container h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    padding-bottom: 30px;
}

.resume-container h4 {
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
}

.resume-container h5 {
    font-style: SemiBold;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: rgba(117, 117, 117, 1);
    padding: 10px 0px 20px 0px;
}

.resume-container p {
    padding-right: 47px;
}

.resume-container hr {
    margin: 30px 0px;
    color: rgba(209, 209, 209, 1);
}

.resume .center-btn {
    display: flex;
    justify-content: center;
}


/* footer section */
footer {
    background-color: rgba(255, 248, 243, 1);
}

.footer-container {
    padding: 130px 0px;
    display: flex;
    gap: 117px;
}

.footer-info p {
    max-width: 562px;
    padding: 20px 0px 30px 0px;
}

.footer-links{
    display: flex;
    gap: 24px;
}

.footer-form h2 {
    padding-bottom: 28px;
}

.footer-form input,
textarea {
    display: block;
    width: 461px;
    margin-bottom: 24px;
    padding: 18px 30px;
    border: none;
    border-radius: 5px;
}

.footer-form input,
textarea::placeholder {
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    line-height: 28px;
}